html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html, body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg_color);
    transition: var(--transition1);
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none!important;
}